{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>M7</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="{% static 'css/mainv88g6bn.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/content/favicon.png' %}"
    />
  </head>

  <body>
    <div class="wrapper">
      <header class="header-b">
        <div class="max-width">
          <div class="header-b__grid">
            <a href="/" class="header-b__logo">
              <img src="{% static 'img/content/logo.svg' %}" alt="" />
              <span>Портал арендатора</span>
            </a>

            <div class="header-b__social">
              <a
                href="https://t.me/ShoppingCenterM7"
                class="header-b__social-item"
              >
                <img
                  src="{% static 'img/content/tg.png' %}"
                  width="40"
                  height="40"
                  alt=""
                />
              </a>
              <a href="https://vk.com/tc_m7" class="header-b__social-item">
                <img
                  src="{% static 'img/content/vk.png' %}"
                  width="47"
                  height="47"
                  alt=""
                />
              </a>
            </div>

            <div class="header-b__actions">
              <div class="header-b__user">
                <img
                  src="{% static 'img/content/user.png' %}"
                  width="35"
                  height="35"
                  alt=""
                />{{username}}
              </div>
              <a href="{% url 'logout' %}" class="button button_small">Выйти</a>
            </div>
          </div>
        </div>
      </header>

      <section class="content">
        <div class="max-width">
          <div class="page-grid">
            <div class="page-grid__sidebar">
              <div class="page-grid__menu">
                <a href="/application" class="page-grid__item">
                  <span class="page-grid__item-count">01</span>
                  <span class="page-grid__item-line"></span>
                  <span class="page-grid__item-link">Заявки</span>
                </a>
                <a href="/pvr" class="page-grid__item">
                  <span class="page-grid__item-count">02</span>
                  <span class="page-grid__item-line"></span>
                  <span class="page-grid__item-link"
                    >Правила внутреннего распорядка</span
                  >
                </a>
                <a href="/pp" class="page-grid__item">
                  <span class="page-grid__item-count">03</span>
                  <span class="page-grid__item-line"></span>
                  <span class="page-grid__item-link">Правила парковки</span>
                </a>
                <a href="/ppb" class="page-grid__item">
                  <span class="page-grid__item-count">04</span>
                  <span class="page-grid__item-line"></span>
                  <span class="page-grid__item-link"
                    >Правила пожарной безопасности</span
                  >
                </a>
                <a href="/p" class="page-grid__item">
                  <span class="page-grid__item-count">05</span>
                  <span class="page-grid__item-line"></span>
                  <span class="page-grid__item-link">Прейскурант</span>
                </a>
              </div>
            </div>

            <div class="page-grid__content">
              <h1 class="title">{{ page.title }}</h1>

              <div class="content-zone">{{ page.content|safe }}</div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer-b">
        <div class="max-width">
          <div class="footer-b__grid">
            <div class="footer-b__logo">
              <img src="static/img/content/logo.svg" alt="" /><span
                >В центре событий</span
              >
            </div>
            <div class="footer-b__menu">
              <a href="https://m7tp.ru/" class="footer-b__links">Главная</a>
              <a href="https://m7tp.ru/partners" class="footer-b__links"
                >Магазины</a
              >
              <a href="https://m7tp.ru/contacts" class="footer-b__links"
                >Контакты</a
              >
            </div>

            <div class="footer-b__actions">
              <a href="https://m7tp.ru/portal" class="button button_small"
                >Портал арендатора</a
              >
              <a href="https://m7tp.ru/#appeal" class="button button_small"
                >Обращение к руководителю</a
              >
              <a href="https://m7tp.ru/dealers" class="button button_small"
                >Потенциальным арендаторам</a
              >
            </div>
          </div>
        </div>
      </footer>

      <script src="{% static 'static/js/mainv88g6bn.min.js' %}"></script>
    </div>
  </body>
</html>
