.user {
    top: 30px;
    left: calc(50% - 600px + 739px);
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 34px;
    gap:10px;
  }

  @media screen and (max-width: 1199px) {
    .user {
      top: 30px;
      left: calc(50% - 480px + 739px);
      gap:5px;
    }

    .username {
      font-size: 12px !important;
    }

    .button {
        font-size: 11px !important;
        padding: 0px 30px !important;

    }
    
  }

    @media screen and (max-width: 959px) {
        .user {
            top: 74px;
            left: calc(50% - 320px + 0px);
        }
        
    }

    @media screen and (max-width: 639px) {
        .user {
            top: 84px;
    left: calc(50% - 240px + 0px);
        }
        
    }


    @media screen and (max-width: 479px) {
        .user {
            top: 74px;
            left: calc(50% - 160px + 0px);
        }
        
    }

  .user img {
    height: 100%;
  }

  .username {
    line-height: 16px !important;
    color: #000000;
    font-size: 13px;
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    text-wrap: wrap;
    word-wrap: break-word;
    max-width: 600px;
  }

  .button {
    color: #000000;
font-size: 10px;
font-family: "Montserrat", Arial, sans-serif;
line-height: 1.55;
font-weight: 600;
text-transform: uppercase;
border-width: 1px;
border-radius: 10px;
background-position: center center;
border-color: #ff211d;
border-style: solid;
transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
cursor: pointer;
box-sizing: border-box;
padding: 0px 20px;
  }

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }